{% extends "showroom/base.html" %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Информация о компании</h2>
            <p>Здесь вы можете добавить информацию о вашей компании, ее деятельности, достижениях и преимуществах.</p>
        </div>
        <div class="col-md-6">
            <h2>Видео</h2>
            <video name='demo' controls autoplay width='100%' height='60%' autoplay loop>
                <source src="{% static 'vid/car.mp4' %}" type="video/mp4">
                </source>
            </video>
        </div>
        <div class="col-md-6">
            <h2>Видео</h2>
            <audio name='demo' controls autoplay width='100%' height='60%' autoplay loop>
                <source src="{% static 'audio/gimn.mp3' %}" type="audio/mp3">
                </source>
            </audio>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ last_article.image.url }}" class="card-img-top" alt="{{ last_article.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ last_article.title }}</h5>
                    <p class="card-text">{{ last_article.summary }}</p>
                    <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Логотип</h2>
            <p>Разместите здесь логотип вашей компании.</p>
        </div>
        <div class="col-md-6">
            <h2>История по годам</h2>
            <ul>
                <li>2020 - Основание компании</li>
                <li>2021 - Расширение деятельности</li>
                <li>2022 - Завоевание новых рынков</li>
                <li>2023 - Достижение лидерства</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Реквизиты</h2>
            <p>Укажите здесь реквизиты вашей компании, такие как название, адрес, контактные данные и др.</p>
        </div>
        <div class="col-md-6">
            <h2>Сертификат</h2>
            <p>Единый реестр автосалонов</p>
            <p>Пример сертификата:</p>
            <pre>
                Наименование: Компания "Автосалон"
                Сертификат: №123456789
                Дата выдачи: 01.01.2023
                Гарантирует, что компания "Автосалон" является официальным дилером автомобилей.
            </pre>
        </div>
    </div>
</div>
{% endblock %}