{% extends "showroom/base.html" %}
{% load static %}

{% block title %}
<title>News</title>
{% endblock %}

{% block content %}
<body class="container">
    <h1>Новости</h1>
    <div class="row">
        {% for article in articles %}
        <section class="col-md-4">
            <div class="card mb-4">
                <img src="{{ article.image.url }}" class="card-img-top" width = "450" height = "280"alt="{{ article.title }}">
                <div class="card-body">
                    <h2 class="card-title">{{ article.title }}</h5>
                    <article class="card-text">{{ article.summary }}</article>
                    <details>
                        <summary>Читать далее</summary>
                        <div id="article">                            
                            <p>{{article.content}}</p>                            
                        </div>
                    </details>
                </div>
            </div>            
        </section>
        {% endfor %}
    </div>

    <h3><em>Как бы реклама, но это просто использование IFrame</em></h3>
    <iframe src="https://made4life.by/katalog/nabor-sportivnogo-pitaniya/nabor-dlya-rosta-suxoj-myishechnoj-massyi-idealnyij-relef.html?utm_source=yandex&utm_medium=cpc&utm_campaign=%7BТоварная_кампания_made4life_by_от_15_05_23%7D&utm_content=%7BТоварная_кампания_made4life_by_от_15_05_23%7D&utm_term=&yclid=15703742375985676287"
    height="400" width = "800">

    </iframe>
</body>
{% endblock %}