{% extends "showroom/base.html" %}
{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<section>
    <h1>Политика конфиденциальности</h1>
    <h3>Ваша конфиденциальность очень важна для нас. Ниже приведено описание того, какие данные мы собираем и как мы их
        используем.</h3>

    <h2>Собираемая информация</h2>
    <h3>Мы собираем следующую информацию:</h3>
    <ul>
        <li>Имя и контактные данные, предоставленные вами при заполнении форм на нашем сайте.</li>
        <li>Информацию о посещении и взаимодействии с нашим сайтом, такую как IP-адрес, данные о браузере и операционной
            системе.</li>
    </ul>

    <h2>Использование информации</h2>
    <h3>Мы используем собранную информацию для следующих целей:</h3>
    <ul>
        <li>Предоставления вам запрошенных услуг и обработки ваших запросов.</li>
        <li>Улучшения и оптимизации нашего сайта и услуг.</li>
        <li>Анализа статистики и поведения пользователей для лучшего понимания их потребностей и предпочтений.</li>
        <li>Связи с вами по вопросам, связанным с вашими запросами и предоставляемыми услугами.</li>
    </ul>

    <h2>Хранение данных</h2>
    <h3>Мы принимаем все необходимые меры для обеспечения безопасности вашей информации и защиты ее от
        несанкционированного
        доступа или использования. Ваши данные хранятся на защищенных серверах с ограниченным доступом.</h3>

    <h2>Согласие</h2>
    <h3>Используя наш сайт, вы соглашаетесь с нашей политикой конфиденциальности и сбором информации, описанной в этой
        политике.</h3>

    <h3>Если у вас возникли вопросы или требуется дополнительная информация, пожалуйста, свяжитесь с нами.</h3>
</section>
{% endblock %}