{% extends "showroom/base.html" %}
{% load static %}

{% block title %}
FAQ
{% endblock %}

{% block content %}
<body class="container">
    <h1>Вопросы и ответы</h1>
    <div class="accordion" id="faqAccordion">
        {% for faq in faqs %}
        <div class="card">
            <details class="accordion-item m-4">
                <summary class="accordion-button" type="button" aria-expanded="true">
                    {{faq.question}}
                </summary>
                {{faq.answer}}
            </details>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}