{% extends "showroom/base.html" %}
{% load static %}

{% block title %}
Reviews
{% endblock %}

{% block content %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}">
{% endblock %}

<body class="container">
    <br><br><br><br><br><br>
    <h1>Отзывы</h1>
    <div class="row">
        {% for review in reviews %}
        <div class="">
            <div class="">
                <div class="card-body">
                    <h3 class="card-title">{{ review.name }}</h3>
                    <h4 class="card-text">Оценка: {{ review.rating }}</h4>
                    <h4 class="card-text">{{ review.text }}</h4>
                    <h5 class="card-text">Дата: {{ review.date_added }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br><br><br>


</body>

<!-- Форма для добавления отзыва -->
{% if user.is_authenticated %}
<footer>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addReviewModalLabel">Добавить отзыв</h3>
            </div>
            <form method="post" action="{% url 'information:save_review' %}">
                {% csrf_token %}
                <label>Название отзыва</label>
                <input type="text" name="name">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="reviewText">Текст отзыва:</label>
                        <textarea class="form-control" id="reviewText" name="text" rows="3" pattern=".{10,}"
                            minlength="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ratingSelect">Оценка:</label>
                        <select class="form-control" id="ratingSelect" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Добавить отзыв</button>
                </div>
            </form>
        </div>
    </div>
</footer>
{% endif %}
{% endblock %}