<!DOCTYPE html>
<html lang = "rus">
{% load static %}

<head title = "My car showroom">
    <meta charset="utf-8" name = "base" content = "base template"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header id="header" style = "background-color:aliceblue">
        <a href="/" class="logo"><mark>Car Showroom</mark></a>
        {% if user.is_authenticated %}
        {% if user.is_staff %}
        <div>
            <a href="{% url 'showroom:product_create' %}" class="btn btn-primary">Добавить продукт</a>
        </div>
        {% endif %}
        {% endif %}
        <nav id="nav">

            {% if user.is_superuser %}
            <a href="{% url 'showroom:statistics' %}" class="btn btn-light">STATISTICS</a>
            {% endif %}

            {% if not user.is_authenticated %}
            <a href="{% url 'account:login' %}" class="btn btn-light"><b>Log in</b></a>
            <a href="{% url 'account:register' %}" class="btn btn-light"><b>Sign Up</b></a>
            {% else %}
            <a href="{% url 'account:logout' %}" class="btn btn-light">Log out</a>
            {% endif %}
            <mark>
            <p id="current-time"
                style="width: 100%; text-align: center; color: black;margin: 0 auto; position: relative;">
            </p>
            </mark><h2>
            <a href="{% url 'information:about'%}" class="btn btn-light">О компании</a>
            <a href="{% url 'information:news' %}" class="btn btn-light"> Новости</a>
            <a href="{% url 'information:contacts' %}" class="btn btn-light"> Контакты</a>
            <a href="{% url 'information:qa' %}" class="btn btn-light">QA</a>
            <a href="{% url 'information:reviews' %}" class="btn btn-light">Отзывы</a>
            <a href="{% url 'information:promotions' %}" class="btn btn-light">Промокоды и акции </a>
            <a href="{% url 'information:privacy_policy' %}" class="btn btn-light"><small>Политика конфиденциальности</small></a>
            </h3>
            {% with total_items=cart|length %}
            {% if cart|length > 0 %}
            Your cart:
            <a href="{% url 'cart:cart_detail' %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
            </a>
            {% else %}
            <em> Cart is empty!</em>
            {% endif %}
            {% endwith %}
        </nav>


    </header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="wrapper">
        <!-- Your page content here -->

        <footer class = "footer">
            <div class="container">
                <div class="col-md-6">
                    <a href="https://av.by/" target="_blank">
                        <img style = "height: 40px;
    width: 80px;
    overflow: hidden;" src="{% static 'img/avby.png' %}" alt="Example 1" class="company-logo" />
                    </a>
                    <a href="https://atlantm.by/" target="_blank">
                        <img style = "height: 40px;
    width: 80px;
    overflow: hidden;" src="{% static 'img/atlantm.png' %}" alt="Example 2" class="company-logo" />
                    </a>
                    <p class="text-muted">© 2023 Your Company. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>

    <script>
        let time = document.getElementById('current-time');
        setInterval(() => {
            let d = new Date();
            time.innerHTML = "Current date: " + d.toLocaleDateString() + " " + d.toLocaleTimeString();
        }, 1000)
    </script>


</body>

</html>