{% extends "showroom/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" style="object-fit: cover; height: 800px; width: 1850px;"
                src="{% static 'img/i.png' %}" alt="First slide">
        </div>
    </div>
</div>

<div id="sidebar">
    <h3>Categories</h3>
    <ul>
    <li {% if category == "All"%}class="selected" {% else %}class = "non-selected" {% endif%}>
        <a href="{% url 'showroom:product_list' %}">All</a>
    </li>
    {% for c in categories %}
        <li {% if c.slug == category.slug %}class="selected" {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>

<div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>

    <div class="sort-buttons">
        <a href="{% url 'showroom:product_list' %}?sort=price_asc">Цена (возрастание)</a>
        <a href="{% url 'showroom:product_list' %}?sort=price_desc">Цена (убывание)</a>
        <a href="{% url 'showroom:product_list' %}?sort=name_asc">Имя (А-Я)</a>
        <a href="{% url 'showroom:product_list' %}?sort=name_desc">Имя (Я-А)</a>
    </div>

    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img
                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}" class="product-name">{{ product.name }}</a><br>
        <span class="category">{{ product.category }}</span><br>
        ${{ product.price }}

        <!-- Кнопки CRUD -->
        {% if user.is_staff %}
        <div class="crud-buttons">
            <a href="{% url 'showroom:product_update' product.id %}">Изменить</a>
            <form method="post" action="{% url 'showroom:product_delete' product.id %}">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div id="footer">
    <h1>Joke of the Day</h1>
    <p>{{ joke }}</p>
    <h1>Bitcoin Rate</h1>
    <p>{{ rate }}</p>
</div>
{% endblock %}