{% extends "showroom/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock %}

<div id="carouselExampleControls" class="main-image-block">
    <div class="banner active">
        <img class="main-image" src="{% static 'img/i.png' %}" alt="Image">
    </div>
    <div class="banner">
        <img class="main-image" src="{% static 'img/article1.png' %}">
    </div>
    <div class="banner">
        <img class="main-image" src="{% static 'img/ID8.jpg' %}">
    </div>
    <div class="banner">
        <img class="main-image" src="{% static 'img/article2.png' %}">
    </div>
</div>
{% if user.is_superuser %}
<form>
    <label for="interval">Интервал ротации (в секундах):</label>
    <input type="number" id="interval" min="1" value="5">
</form>
{% endif %}

<div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li>
            <a href="{% url 'showroom:product_list' %}">All</a>
        </li>
        {% for c in categories %}
        <li>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="circle"></div>

<div class="sort-buttons">
    <a href="{% url 'showroom:product_list' %}?sort=price_asc" class="shadowtext1">Цена (возрастание)</a>
    <a href="{% url 'showroom:product_list' %}?sort=price_desc" class="shadowtext1">Цена (убывание)</a>
    <a href="{% url 'showroom:product_list' %}?sort=name_asc" class="shadowtext1">Имя (А-Я)</a>
    <a href="{% url 'showroom:product_list' %}?sort=name_desc" class="shadowtext1">Имя (Я-А)</a>
</div>
<div id="main" class="item-list">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>


    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <div class="item-image-container">
                <img class="item-image"
                    src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                    data-rotation="0">
            </div>
        </a>
        <br>
        <a href="{{ product.get_absolute_url }}" class="shadowtext1">{{ product.name }}</a>
        <p class="shadowtext1">{{ product.category }}</p><br>
        ${{ product.price }}

        <!-- Кнопки CRUD -->
        {% if user.is_staff %}
        <div class="crud-buttons">
            <a href="{% url 'showroom:product_update' product.id %}">Изменить</a>
            <form method="post" action="{% url 'showroom:product_delete' product.id %}">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div id="footer">
    <h1>Joke of the Day</h1>
    <p>{{ joke }}</p>
    <h1>Bitcoin Rate</h1>
    <p>{{ rate }}</p>
</div>

<script type="text/javascript" src="{% static 'js/banner.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>

{% endblock %}